
body{
  /* display: inline-flex; */
 height: 50rem;
  /* padding: 4.5rem 14.49975rem 37.875rem 14.5rem; */
  justify-content: center;
  align-items: center;
  background: var(--Page-background, #E8EAEE);
}

.search{
display: flex;
padding: 1rem;
flex-direction: column;
align-items: center;
gap: 1.25rem;
border-radius: 1.25rem;
background: #FFF;

}

.search1{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search2{
  display: flex;
 padding: 1rem;
 width: 40rem;
 align-items: flex-start;
 gap: 0.625rem;
 border-radius: 0.75rem;
background: var(--Input-field-background, #F2F4F8);

}

.btn{
  display: flex;
padding: 1rem;
align-items: center;
color: #FFF;
gap: 0.625rem;
border-radius: 0.75rem;
cursor: pointer;
background: var(--Black, #000);
}

.btnn{
  display: flex;
  gap: 1rem;
}

.main{
  display: flex;
  flex-wrap: wrap;
}

.main1{
 margin: 10px;
  justify-content: space-between;
  align-items: center;
}

nav{
  
      margin: 0;
      width: 100%;
      height: 80px;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}

.loginp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.inp{
  margin: 20px;
  border: 3px solid #ccc;
  padding: 12px 20px;
  width: 100%;
  border-radius: 10px;
}

.btn1{
  background-color: black;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.btn2{
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 4px;
}

.load{
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder{
  color: black;
  font: bold;
  font-size: medium;
}